<div class="container-fluid"> 
	<div class="row bg-primary justify-content-center align-items-center" style="height:80px"> 
		<div class="col-10 text-light h2"> 
			Todo List 
		</div> 
	</div> 

	<div class="row mt-1" style="height:80px;"> 
		<form [formGroup]="todoFrom" (ngSubmit)="onSubmit()" class="col-12">
			<div class="col-12 col-md-8 d-flex justify-content-center align-items-center text-light h3" 
				*ngIf="mode === 'create'"> 

				<input id="todoItem"
					formControlName="todoItem" 
					type="text" 
					class="form-control" 
					required> 

					<!-- <span *ngIf="(todoItem.invalid || todoFrom.invalid)
						&& (todoItem.dirty || todoItem.touched) 
						&& todoItem.errors.required" class="alert alert-danger">This field is required!</span> -->

				<div class="col-1"></div> 

				<button type="submit" class="btn btn-primary"> ADD TODO </button> 
			</div> 

			<div class="col-12 col-md-8 d-flex justify-content-center align-items-center text-light h3" 
				*ngIf="mode === 'edit'"> 

				<input formControlName="todoItem" type="text" value="" class="col-7 form-control"> 
				<!-- <span *ngIf="todolistForm.get('todoItem').errors['required']">This field is required!</span> -->

				<div class="col-1"></div> 

				<button  type="submit" class="btn btn-success"> 
					SAVE TODO 
				</button> 

				<button (click)="cancelEdit()" class="btn btn-link"> 
					CANCEL 
				</button> 
			</div>
		</form>
	</div> 

	<div *ngFor="let item of items; trackBy: trackByFn;" class="row mt-1" style="height:100px;"> 

		<div class="col-12 col-md-8 bg-primary d-flex 
					justify-content-center align-items-center 
					text-light h3"> 

			<div class="col-9 text-light h5">{{item.id}} - {{item.name}}</div> 

			<input (click)="updateItem(item.id)" type="button" value="Edit" class="col-1 btn btn-warning"> 

			<input (click)="deleteItem(item.id)" type="button" value="Delete" class="col-1 btn btn-danger"> 
		</div> 
	</div> 
</div> 

